scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "node"
    relabel_configs:
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+):(.+)'
        target_label: node_name
        replacement: $1
    static_configs:
      - targets:
          - "{{ inventory_hostname }}:9100"

  - job_name: "traefik"
    relabel_configs:
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+):(.+)'
        target_label: node_name
        replacement: $1
    scheme: https
    tls_config:
      ca_file: /tls/root-ca.pem
    static_configs:
      - targets:
          - "traefik.{{ inventory_hostname }}"

  - job_name: "o11y"
    relabel_configs:
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: application
        replacement: $1
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: $1-$2
      - target_label: namespace
        replacement: o11y
    scheme: https
    tls_config:
      ca_file: /tls/root-ca.pem
    static_configs:
      - targets:
          - "loki.{{ inventory_hostname }}"
          - "promtail.{{ inventory_hostname }}"
          - "prometheus.{{ inventory_hostname }}"
          - "grafana-agent.{{ inventory_hostname }}"
          - "grafana.{{ inventory_hostname }}"
          - "grafana-enterprise.{{ inventory_hostname }}"

  - job_name: "activemq-artemis"
    relabel_configs:
      - target_label: application
        replacement: activemq-artemis
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: activemq-artemis-$2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: statefulset_kubernetes_io_pod_name
        replacement: activemq-artemis-$2
      - target_label: broker
        replacement: activemq-artemis
      - target_label: namespace
        replacement: activemq-artemis
    static_configs:
      - targets:
          - "artemis-console.{{ inventory_hostname }}"

  - job_name: "camelquarkus"
    metrics_path: /q/metrics
    relabel_configs:
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: application
        replacement: $1
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: $1-$2
      - target_label: namespace
        replacement: camel
    scheme: https
    tls_config:
      ca_file: /tls/root-ca.pem
    static_configs:
      - targets:
          - "bqueue.{{ inventory_hostname }}"
          - "smoke-test-app.{{ inventory_hostname }}"

  - job_name: "camelquarkus-dev"
    metrics_path: /q/metrics
    relabel_configs:
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: application
        replacement: $1
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: application
        replacement: $1
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: $1-$2
      - target_label: namespace
        replacement: camel
    static_configs:
      - targets:
          - "dev.{{ inventory_hostname }}:8090"          

  - job_name: "camelspring-dev"
    metrics_path: /actuator/prometheus
    relabel_configs:
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: application
        replacement: $1
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: $1-$2
      - target_label: namespace
        replacement: camel
    static_configs:
      - targets:
          - "dev.{{ inventory_hostname }}:8190"   

  - job_name: "kafka"
    relabel_configs:
      - target_label: application
        replacement: kafka
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: kafka-$2
      - target_label: namespace
        replacement: kafka
      - target_label: strimzi_io_cluster
        replacement: kafka
    static_configs:
      - targets:
          - "kafka-metrics.{{ inventory_hostname }}"
          - "kafkaexporter.{{ inventory_hostname }}"

  - job_name: "zookeeper"
    relabel_configs:
      - target_label: application
        replacement: kafka
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: node_name
        replacement: $2
      - source_labels: [__address__]
        separator: ";"
        regex: '(.+)\.(.+)\.(.+)'
        target_label: kubernetes_pod_name
        replacement: zookeeper-$2
      - target_label: namespace
        replacement: kafka
      - target_label: strimzi_io_cluster
        replacement: kafka
      - target_label: strimzi_io_kind
        replacement: kafka
    static_configs:
      - targets:
          - "zookeeper-metrics.{{ inventory_hostname }}"

# webshop

  # - job_name: 'web-shop'
  #   relabel_configs:
  #     - source_labels: [__address__]
  #       separator: ";"
  #       regex: '(.+)\.(.+)\.(.+)'
  #       target_label: application
  #       replacement: $1
  #     - source_labels: [__address__]
  #       separator: ";"
  #       regex: '(.+)\.(.+)\.(.+)'
  #       target_label: application
  #       replacement: $1
  #     - source_labels: [__address__]
  #       separator: ";"
  #       regex: '(.+)\.(.+)\.(.+)'
  #       target_label: node_name
  #       replacement: $2
  #     - source_labels: [__address__]
  #       separator: ";"
  #       regex: '(.+)\.(.+)\.(.+)'
  #       target_label: kubernetes_pod_name
  #       replacement: $1-$2
  #     - target_label: namespace
  #       replacement: camel
  #   static_configs:
  #     - targets:
  #         - web-shop:6666
  #         - shopping-cart:5555
  #         - products:8080

  - job_name: 'web-shop'
    static_configs:
      - targets: ['web-shop:3389']
        labels:
          group: 'shop'
          service: 'web-shop'
          compose_service: web-shop
          compose_project: web-shop-o11y-demo
          app: web-shop

  - job_name: 'shopping-cart'
    static_configs:
      - targets: ['shopping-cart:5555']
        labels:
          group: 'shop'
          service: 'shopping-cart'
          compose_service: shopping-cart
          compose_project: web-shop-o11y-demo
          app: shopping-cart

  - job_name: 'products'
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['products:8080']
        labels:
          group: 'shop'
          service: 'products'
          compose_service: products
          compose_project: web-shop-o11y-demo
          app: products

  - job_name: 'span-metrics'
    static_configs:
      - targets: ['grafana-agent:1234']
        labels:
          group: 'shop'
          compose_project: web-shop-o11y-demo