---
- set_fact:
    appname: portainer

- name: Create {{appname}} folders
  become: true
  file:
    path: /home/{{ ansible_user }}/apps/{{appname}}/data
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'


- name: "Manage {{appname}} container state - {{appstate}} - {{appconfig[appname].ip}}"
  docker_container:
    name: "{{appname}}"
    image: "{{appconfig[appname].image}}"
    state: "{{appstate}}"
    recreate: "{{recreate}}"
    restart_policy: unless-stopped
    container_default_behavior: no_defaults
    detach: true
    # user: "1000:1000"

    # to generate password run tje following command
    # docker run --rm httpd:2.4-alpine htpasswd -nbB admin 'superpassword' | cut -d ":" -f 2
    command: --admin-password '$2y$05$G.3gCZNL2WoeYrPj7i6NYeFfOaSHRKMB2PCzqZfzjkmcVX1lVMEZ2'
    
    env:
    ports:
    labels: |
      {
        "traefik.http.routers.{{appname}}.entrypoints": "https",
        "traefik.http.routers.{{appname}}.tls": "true",
        "traefik.http.services.{{appname}}.loadbalancer.server.port": "9000"
      }
    volumes:
      - "/home/{{ansible_user}}/apps/{{appname}}/data:/data:rw"
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
    networks_cli_compatible: yes
    network_mode: primenet
    networks:
      - name: primenet
        ipv4_address: "{{appconfig[appname].ip}}"
